.todo {
    padding: 5px;
    background-color: darkgray;
}
.todo__title {
    color: lightcyan;
    text-transform: uppercase;
}
.todo__status {
    text-transform: uppercase;
    text-align: center;
    color: green;
}
.todo__statusUncompleted {
    color: red;
}