.todo {
    padding: 10px;
    background-color: #dca86c;
    border-radius: 10px;
}
.todo__title {
    color: saddlebrown;
    text-transform: uppercase;
}
.todo__status {
    text-transform: uppercase;
    text-align: center;
    color: green;
    font-weight: bold;
}
.todo__statusUncompleted {
    color: red;
}